// Color Variables
$primary-color: #30a7f3;
$text-color: #777;
$text-color-dark: #222;
$body-color: #fff;
$border-color: #ECECEC;
$black: #000;
$white: #fff;
$light: #eaf7ff;

// Font Variables
$primary-font: 'Lato', sans-serif;
$icon-font: 'themify';